---
title: 'Example Dev Blog'
description: "This is an example of a dev blog."
date: 2025-7-27
author: { username: 'makosai', name: 'Kristopher Ali' }
category: Events
example: true
---

> **Hello:**
>
> {description}

## Todo Blog Post

...
