.btn-dark-purple {
  @apply btn inline-block px-6 py-3 text-[--deep-purple] border-2 border-[--deep-purple] rounded-xl shadow-md font-medium;
}

.btn-dark-purple.pill {
  @apply rounded-3xl py-[9px] px-5 font-normal;
}

.btn-dark-purple.filled {
  @apply text-white bg-gray-900 border-none;
}
.btn-dark-purple.filled:hover {
  @apply bg-[--deep-purple-highlight];
}