:root {
	--primary: #7666c1;
	--secondary: #ffffff;
	--tertiary: #f9f3e5;
	--success: #77dd77;
	--danger: #ff6961;
	--warning: #ffd700;
	--info: #add8e6;
	--link: #b0c4de;
	--border: #f4f4f4;
	--textGray: #808080;
	--buttonGray: #d3d3d3;
	--light: #f0f8ff;
	--dark: #323232;
	--blue: #239af4;
	--darkBlue: #1e88e5;
	--deepPurple: #220d54;
	--deepPurpleHighlight: #3a168d;
}

.glass {
	/* From https://css.glass */
	background: rgba(58, 50, 95, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.glass-light {
	background: rgba(255, 255, 255, 0.09);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.glass-dark {
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(255, 255, 255, 0.5);
}
