.poppins {
	font-family: 'Poppins', sans-serif;
}

.metropolis {
	font-family: 'Metropolis', sans-serif;
}

h1 {
	@apply text-6xl font-bold;
}

h2 {
	@apply text-4xl font-black;
}

h3 {
	@apply text-2xl font-black;
}

h1 strong,
h2 strong {
	@apply font-black text-[--gold];
}

p.lead strong {
	@apply font-black text-[--gold];
}

h1.alt strong {
	@apply text-[--deepPurple];
}
h2.alt strong {
	@apply !text-[--warning];
}

a {
	@apply text-[--lightBlue] underline;
}
a:hover {
	@apply text-[--blue];
}
a:active {
	@apply scale-90 text-[--primary];
}

a.unset {
	@apply text-[initial] no-underline;
}

.info-paragraph {
	@apply max-w-screen-md indent-6 text-lg font-medium;
}

code.gold {
	@apply text-[--gold];
}

.blog-container {
	@apply mx-auto max-w-screen-lg w-full;
}
p.blog {
	@apply my-4;
}
p.blog.col {
	@apply md:columns-2;
}
p.blog + p.blog {
	@apply mt-0;
}

.bg {
	@apply bg-[--deepPurpleHighlightHalf] p-2 rounded-lg w-fit;
}