@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full text-sm md:text-base lg:text-base xl:text-base 2xl:text-lg;
}

/* Reia theme */
@font-face {
	font-family: 'Poppins';
	font-display: swap;
}