@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

/* Reia theme */
@font-face {
	font-family: 'Poppins';
	font-display: swap;
}